* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 10vh;
}

h1, h2, h3, h4, h5, h6 {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 20px;
}

p {
    text-align: center;
    padding: 5px;
}

